
.woocommerce_tabs ul.tabs li,
.woocommerce-tabs ul.tabs li,
.ui-tabs ul.tabs li,
.woocommerce_tabs .ui-tabs-nav li,
.woocommerce-tabs .ui-tabs-nav li,
.ui-tabs .ui-tabs-nav li{
  padding: 9px;
}

.woocommerce_tabs ul.tabs li.active,
.woocommerce-tabs ul.tabs li.active,
.ui-tabs ul.tabs li.active,
.woocommerce_tabs .ui-tabs-nav li.active,
.woocommerce-tabs .ui-tabs-nav li.active,
.ui-tabs .ui-tabs-nav li.active{
  background-color: #303030;
}


ul.products li.product.first {
  clear: both;
}

/* Related Product */
@media only screen and (min-width: 768px) {
    ul.products li.product {
		position: relative;
		width: 22.05%;
	}
	ul.products li.product:nth-child(2n) {
		margin-right: 3.8%;
	}
	ul.products li.product.first {
	  clear: both;
	}
	ul.products li.product.last {
	  margin-right: 0;
	}
	
	/* Single Product */
	.single-product .images {
	  width: 28%;
	  float: left;
	}
	.single-product .summary {
	  width: 68%;
	  float: right;
	}
	.single-product .woocommerce_tabs,
	.single-product .woocommerce-tabs {
	  clear: both;
	}
	.single-product .related {
	  clear: both;
	}
	.single-product .sale .summary h1 {
	  width: 80%;
	}
	
	.woocommerce_tabs ul.tabs li,
	.woocommerce-tabs ul.tabs li,
	.ui-tabs ul.tabs li,
	.woocommerce_tabs .ui-tabs-nav li,
	.woocommerce-tabs .ui-tabs-nav li,
	.ui-tabs .ui-tabs-nav li{
	  display: inline-block;
	  clear: none;
	  margin-bottom: 0;
	}
	  
	  .woocommerce_tabs ul.tabs li a,
	  .woocommerce-tabs ul.tabs li a,
	  .ui-tabs ul.tabs li a,
	  .woocommerce_tabs .ui-tabs-nav li a,
	  .woocommerce-tabs .ui-tabs-nav li a,
	  .ui-tabs .ui-tabs-nav li a{
		padding: 0 10px;
	  }
	
}